@model TravelBlog.Models.Experience
@{
    ViewData["Title"] = "Experience Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create Experience</h2>
<hr />
<h4>Add a new Experience</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <input type="submit" value="Add a new experience" />
}
<p>@Html.ActionLink("Back to list view", "Index")</p>
